doctype html
html
    head
        title #{title}
        link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            a.navbar-brand User Module
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/') Home 
                    li.nav-item
                        a.nav-link(href='/register') Add Users
                    li.nav-item
                        a.nav-link(href='/update') Update Users
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
                    button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
        br
        .container
            block content

        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')